@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  width: 90vw;
}

figure {
  position: relative;
  margin: 0 0.5em;
  transition: flex 1s ease-in-out;
  -webkit-transition: all 700ms ease-in;
  flex: .5;
  cursor: pointer;
}

figcaption {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in 0.2s;
}

.active {
  flex: 5;
}

.active figcaption {
  visibility: visible;
  opacity: 1;
}

img {
  max-width: 100%;
  border-radius: 3em;
  height: 80vh;
  object-fit: cover;
}


