@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

figure {
  position: relative;
  padding: 0 0.5em;
  margin: 0;
  transition: flex-shrink .5s ease-in-out;
  overflow: hidden;
}

figcaption {
  position: absolute;
  color: #fff;
  font-size: 1.2rem;
  bottom: 3%;
  left: 10%;
  visibility: hidden;
}

.active {
  flex-shrink: .7;
}

.active figcaption {
  visibility: visible;
}

img {
  max-width: 100%;
  border-radius: 1em;
  height: 80vh;
  object-fit: cover;
}


