@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  padding: 0 5vw;
}

figure {
  position: relative;
  padding: 0 0.5em;
  margin: 0;
  transition: all .5s ease-in-out;
  overflow: hidden;
  flex: .5;
}

figcaption {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  visibility: hidden;
}

.active {
  flex: 5;
}

.active figcaption {
  visibility: visible;
}

img {
  max-width: 100%;
  border-radius: 3em;
  height: 80vh;
  object-fit: cover;
}


